<h2>404</h2>
<h3>Are you lost?</h3>
<a href="/">Go back Home</a>

<form>
 <input />
 <textarea></textarea>
 <input />
 <select>
  <option value="7637367367674343">red</option>
  <option>blue</option>
 </select>
</form>